<div ng-controller="albumCtrl" class="ngdialog-message">
    <div class="">
        <h3>创建新相册 </h3>
    </div>
    <div class="">&nbsp;</div>
    <div class="">
        <form ng-submit="createAlbumbox(currentAlbumbox)" name="login_form" ng-disabled="login_form.$invalid">
            <div class="form-group">
                <label>相册名</label>
                <input type="text" class="form-control input-sm" placeholder="name of the album" ng-model="currentAlbumbox.title">
            </div>
            <div class="form-group">
                <label>相册描述</label>
                <textarea class="form-control input-sm" placeholder="introduction" ng-model="currentAlbumbox.introduction"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputFile">相册封面</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            <input type="file" id="exampleInputFile" class="form-control" file-model="customer.albumPage">
                            <div class="btn btn-primary" ng-click="Submit()">提交</div>
                            <img ng-src="../uploads/{{currentAlbumbox.albumPage}}" style="width: 50px">
                        </div>
                    </div>
            </div>
            <button type="submit" class="btn btn-info btn-sm" >确定</button>
            <button type="button" class="btn btn-default btn-sm" ng-click=closeThisDialog("Cancel")>取消</button> &nbsp; &nbsp;
        </form>
    </div>
    <div>

    </div>
</div>
