    <!-- === BEGIN FOOTER === -->
    <div id="content-bottom-border" class="container">
    </div>
    <div id="base">
        <div class="container padding-vert-30 margin-top-60">
            <div class="row">
                <!-- Contact Details -->
                <div class="col-md-4 margin-bottom-20">
                    <h3 class="margin-bottom-10">联系我吧</h3>
                    <p>
                        <span class="fa-comments">wechact :</span> c1234_567
                        <br>
                        <span class="fa-envelope">Email:</span>
                        <a href="mailto:info@joomla51.com">hrfr33@hotmail.com</a>
                        <br>
                        <span class="fa-link">Website:</span>
                        <a href="http://www.joomla51.com">www.huangrong.fr</a>
                    </p>
                    <p>注：目前网站服务器在法国,国内打开可能有点慢
                        <br>小伙伴们放心,
                        <br>国内服务器正在申请中,
                        <br>么么哒</p>
                </div>
                <!-- End Contact Details -->
                <!-- Sample Menu -->
                <div class="col-md-3 margin-bottom-20">
                    <h3 class="margin-bottom-10">公众平台</h3>
                    <ul class="menu">
                        <li>
                            <a class="fa-weibo" target="_Blank" href="http://weibo.com/hrfr33">个人微博：http://weibo.com/hrfr33</a>
                        </li>
                        <li>
                            <a class="fa-comments" target="_Blank" href="#">公众微信：敬请期待</a>
                        </li>
                        <li>
                            <a class="fa-shopping-cart" target="_Blank" href="#">淘宝店：敬请期待</a>
                        </li>
                        <li>
                            <a class="fa-mobile" target="_Blank" href="#">手机app：敬请期待</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- End Sample Menu -->
                <div class="col-md-1"></div>
                <!-- Disclaimer -->
                <div class="col-md-3 margin-bottom-20 padding-vert-30 text-center">
                    <h3 class="color-gray margin-bottom-10">HIRE ME</h3>
                    <p>
                        找我合作
                        <br>留下您的联系方式吧！
                    </p>
                    <input type="email">
                    <br>
                    <button class="btn btn-primary btn-lg margin-top-20" type="button">提交</button>
                </div>
                <!-- End Disclaimer -->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- Footer Menu -->
    <div id="footer">
        <div class="container">
            <div class="row">
                <div id="footermenu" class="col-md-8">
                    <!-- <ul class="list-unstyled list-inline">
                        <li>
                            <a href="#" target="_blank">Sample Link</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Sample Link</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Sample Link</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Sample Link</a>
                        </li>
                    </ul> -->
                </div>
                <div id="copyright" class="col-md-4">
                    <p class="pull-right">huangrong.fr (c) 2017 Your Copyright Info</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Menu -->