    <!-- === BEGIN CONTENT === -->
    <div id="content">
        <div class="container no-padding">
            <div class="row">
                <!-- Carousel Slideshow -->
                <div id="carousel-example" class="carousel slide" data-ride="carousel" ng-controller="carouselCtrl">
                    <!-- Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example" data-slide-to="1"></li>
                        <li data-target="#carousel-example" data-slide-to="2"></li>
                    </ol>
                    <div class="clearfix"></div>
                    <!-- End Carousel Indicators -->
                    <!-- Carousel Images -->
                    <div class="carousel-inner">
                        <div class="item" ng-class="{active:!$index}" ng-repeat="item in carousels">
                            <img ng-src="../uploads/{{item.carouselImage}}">
                        </div>
                    </div>
                    <!-- End Carousel Images -->
                    <!-- Carousel Controls -->
                    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    <!-- End Carousel Controls -->
                </div>
                <!-- End Carousel Slideshow -->
            </div>
        </div>
        <div class="container background-gray-lighter">
            <div class="row margin-vert-40">

                <div class="col-md-3">
                    <div class="col-md-4">
                        <i class="fa-file-text-o fa-4x color-primary"></i>
                    </div>
                    <div class="col-md-8">
                        <h2 class="margin-top-5 margin-bottom-0 indexfont1">文章</h2>
                        <p class="indexfont2">共有{{articlesUser.length}}篇文章</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-4">
                        <i class="fa-plane fa-4x color-primary"></i>
                    </div>
                    <div class="col-md-8">
                        <h2 class="margin-top-5 margin-bottom-0 indexfont1">代购</h2>
                        <p class="indexfont2">共有9种产品</p>
                    </div>
                </div> 
                <div class="col-md-3">
                    <div class="col-md-4">
                        <i class="fa-picture-o fa-4x color-primary"></i>
                    </div>
                    <div class="col-md-8">
                        <h2 class="margin-top-5 margin-bottom-0 indexfont1">图册</h2>
                        <p class="indexfont2">共有{{albumboxes.albumpics.length || 0}}张图片</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-4">
                        <i class="fa-thumbs-o-up fa-4x color-primary"></i>
                    </div>
                    <div class="col-md-8">
                        <h2 class="margin-top-5 margin-bottom-0 indexfont1">每周上新</h2>
                        <p class="indexfont2">最热推荐</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="container background-white">
            <div class="row margin-vert-30">
                <!-- Main Text -->
                <div class="col-md-3">
                    <img src="../img/3.jpg" class="indeximg1">
                    <div>
                        <ul class="indexlist1">
                            <li class="indexlistli1"><i class="fa-comments fa-1x color-green"></i><span class="indexlistlip1">c1234_567</span></li>
                            <li class="indexlistli1"><i class="fa-envelope-o fa-1x color-red"></i><span class="indexlistlip1">hrfr33@hotmail.com</span></li>
                            <li class="indexlistli1"><i class="fa-twitter fa-1x color-lightblue"></i><span class="indexlistlip1">rong.huang</span></li>
                            <li class="indexlistli1"><i class="fa-facebook fa-1x color-blue"></i><span class="indexlistlip1">huangrong</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <h2 class="indexfont3"><i class="fa-heart fa-1x color-pink"></i>芋头熊的巴黎生活</h2>
                    <p class="indexfont4">Le coeur de vingt ans est fait pour aller au bout du monde.<br>
                    (二十岁的心应该去世界最远的地方流浪)<br>
                    二十岁的我向往巴黎，于是我来到了巴黎。<br>
                    <br>
                    在这两年的留学生活让走重新认识了巴黎，重新认识了法国。<br>
                    <br>
                    法国和中国代表两种截然不同的生活方式。中国人追求人定胜天，凡事要逆流而上。法国人讲究和平共存，凡事顺势而为。北京有很多摩天大楼，巴黎的房子都是矮矮的古迹。北京不断创新，巴黎永远有怀旧。巴黎人在咖啡厅聊天，北京人在咖啡厅用计算机。北京有人潮，巴黎有味道。北京有炒肝，巴黎有蛋糕。<br>
                    <br>
                    利尔克说，巴黎是一座无与伦比的城市。是的，从古至今巴黎吸引全世界的人来到这里。有人因巴黎辉煌一生，也有人因巴黎郁郁消沉。尼采在这里寻到查拉图司特拉灵感，梵高在这里遇见奔放希冀的向日葵，你想在这遇见什么呢？<br>
                    <br>
                    芋头熊带你遇见Parisien巴黎人的生活，巴黎的美景，遇见好东西，遇见丰富生活小经验，遇见浪漫，遇见法国。</p>
                </div>
                <!-- End Main Text -->
            </div>
        </div>
        <div class="container background-gray-lighter">
            <div class="row padding-vert-20">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <!-- Portfolio -->
                    <ul class="portfolio-group">
                        <!-- Portfolio Item -->
                        <li class="portfolio-item col-sm-6 col-xs-6 padding-20" ng-repeat="item in homeArticles.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                            <a ng-click="toArticleUser(item._id)">
                                <figure class="animate fadeInLeft">
                                    <img alt="image1" ng-src="../uploads/{{item.pageImage}}">
                                    <figcaption>
                                        <h3>{{item.title}}</h3>
                                        <span><i class="fa-clock-o fa-1x color-primary"></i>{{item.created}}</span><br/>
                                        <span><i class="fa-file-text-o fa-1x color-primary"></i>{{item.introduction}}</span>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <!-- //Portfolio Item// -->
                    </ul>
                    <!-- End Portfolio -->
                </div>
                <div class="col-md-1">
                </div>
            </div>
            View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>3</option><option>5</option><option>10</option><option>20</option><option>30</option><option>40</option><option>50</option></select> records at a time.
                <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></ul>
        </div>
        <div class="container background-white">
            <div class="row padding-vert-40">
                <div class="col-md-12">
                    <h2 class="animate fadeIn text-center">WE ARE CURRENTLY HIRING!</h2>
                    <p class="animate fadeIn text-center">If you like to work with a creative team in a lively and friendly enviroment then call us today!.</p>
                    <p class="animate fadeInUp text-center">
                        <button class="btn btn-primary btn-lg" type="button">View Details</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- === END CONTENT === -->