<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
            <nav class="breadcrumb">
              <a class="breadcrumb-item" ui-sref="app">主页</a>
              <a class="breadcrumb-item" ui-sref="app.daigou">/芋头熊的代购</a>
              <span class="breadcrumb-item active">/保健品</span>
            </nav>
            <h2>保健品</h2>
                <!-- Intro / Why Us? -->
                <div class="row">
                    <div ng-cloak>
                      <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                          <md-tab label="成人">
                            <md-content class="md-padding">
                              <div class="col-md-12">
                                <p class="md-display-1">PERLES DE PEAU 混合月见草琉璃苣油软胶囊</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/70.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              帮助女性调理月经不调，湿疹，缓解痛经；可调节内分泌，增强人体免疫力，并让皮肤更健康美丽。
                              本品所含全部有效成分以及胶囊壳全部原材料来自天然植物，因此即便是素食主义者也完全可以放心选用。
                              对于不吃鱼/鱼油的完全素食主义者更加推荐月见草油，以补充饮食中不饱和脂肪酸的摄入量。
                              琉璃苣是欧美传统的食疗紫花小草内含丰富的G.L.A属于Omega-6系列的必需脂肪酸,琉璃苣油中之G.L.A是目前植物界中含量最高品质最优,相当于月见草中的3倍,不论内服或外                             用皆有助于凸显女性傲人自信美、照顾女性月月顺心舒畅.一种集丰胸、瘦身、美肤功效于一身的天然食品，蕴含最丰富的Y-次亚麻油酸(GLA)，有助女性荷尔蒙合成，活化乳                            腺细胞，令乳房更丰满。其摄取能激活棕色体脂肪裡的粒腺体，加速燃烧体内多馀的卡路里，消除多馀脂肪，达至胸部丰满、身段纤瘦的迷人线条，同时是最佳的营养补给。                            这款混合月见草琉璃苣含VE胶囊可是比单独的月见草油效果更佳哦！
                              </p>
                              </div>
                            </md-content>
                          </md-tab>
                          <md-tab label="儿童">
                            <md-content class="md-padding">
                              <h1 class="md-display-2">Tab Two</h1>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                              <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                              <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                            </md-content>
                          </md-tab>
                          <md-tab label="其他">
                            <md-content class="md-padding">
                              <h1 class="md-display-2">Tab Three</h1>
                              <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                            </md-content>
                          </md-tab>
                        </md-tabs>
                      </md-content>
                    </div>
                </div>
                <!-- End Intro / Why Us? -->
                <hr class="margin-top-20 margin-bottom-30">
                <!-- Middle Text -->
                <div class="row">
                    <div class="col-md-12 text-center margin-top-10 animate fadeInUp">
                        <h2 class="text-center margin-top-10">您的鼓励是对我最大的支持</h2>
                        <p class="text-center margin-bottom-30">希望您能满意</p>
                    </div>
                </div>
                <!-- End Middle Text -->
                <hr>
            </div>
        </div>
    </div>
</div>