<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
                <h2 class="margin-vert-20">蓉蓉小法代</h2>
                <div class="row margin-bottom-30">
                    <div class="col-md-4 animate fadeInLeft">
                        <p>长期居住在法国，利用空余时间做做小代购~嘿嘿</p>
                        <p class="margin-bottom-30">主代【奶粉】【药妆】【包包奢侈品】【香水】等~ 大伙可以扫我微信公众号哟
                        <img src="img/daigou/code.jpg"></p>
                    </div>
                    <div class="col-md-8 animate fadeIn">
                        <!-- Person Details -->
                        <div class="col-md-4 col-sm-4 person-details margin-bottom-30">
                            <figure>
                                <img src="img/daigou/all1.jpg" alt="image1">
                                <figcaption>
                                    <h3 class="margin-bottom-10">佳丽雅
                                        <small>- 奶粉</small>
                                    </h3>
                                    <span>直邮到您家</span>
                                </figcaption>
                                <ul class="list-inline person-details-icons">
                                    <li>
                                        <a href="#">
                                            <i class="fa-lg fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-lg fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-lg fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-lg fa-dribbble"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-lg fa-google-plus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </figure>
                        </div>
                        <!-- //Portfolio Item// -->
                        <!-- Person Details -->
                        <div class="col-md-4 col-sm-4 person-details margin-bottom-30">
                            <figure>
                                <img src="img/daigou/makeup.jpg" alt="image2">
                                <figcaption>
                                    <h3 class="margin-bottom-10">口红化妆
                                        <small>- 药妆香水</small>
                                    </h3>
                                    <span>全法最好的哟</span>
                                </figcaption>
                                <ul class="list-inline person-details-icons">
                                    <li>
                                        <a href="#">
                                            <i class="fa-lg fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-lg fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-lg fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-lg fa-dribbble"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-lg fa-google-plus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </figure>
                        </div>
                        <!-- //Portfolio Item// -->
                        <!-- Person Details -->
                        <div class="col-md-4 col-sm-4 person-details margin-bottom-30">
                            <figure>
                                <img src="img/daigou/lv.jpg" alt="image3">
                                <figcaption>
                                    <h3 class="margin-bottom-10">奢侈品
                                        <small>- lv包包</small>
                                    </h3>
                                    <span>法国价格 当地现买</span>
                                </figcaption>
                                <ul class="list-inline person-details-icons">
                                    <li>
                                        <a href="#">
                                            <i class="fa-lg fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-lg fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-lg fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-lg fa-dribbble"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-lg fa-google-plus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </figure>
                        </div>
                        <!-- //Portfolio Item// -->
                    </div>
                </div>
                <hr class="margin-bottom-50">
                <div class="row">
                    <div class="col-md-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, laboriosam, quod odit quo quos itaque repellat quaerat a ad alias. Vel, nostrum id ab velit veritatis consequatur fugit sequi esse. Maecenas congue dui
                            id posuere fermentum.</p>
                        <div class="row">
                            <div class="col-sm-3">
                                <span class="fa-stack fa-2x margin-vert-30 margin-horiz-40 hidden-xs animate fadeInLeft">
                                    <i class="fa fa-circle fa-stack-2x color-gray-light"></i>
                                    <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="col-sm-9">
                                <h3 class="margin-vert-10">Pellentesque iaculis</h3>
                                <p>Lorem Ipsum is simply dummy text of Lorem the printing and typesettings. Aliquam dictum nulla eu varius porta. Maecenas congue dui id posuere fermentum.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <span class="fa-stack fa-2x margin-vert-30 margin-horiz-40 hidden-xs animate fadeInLeft">
                                    <i class="fa fa-circle fa-stack-2x color-gray-light"></i>
                                    <i class="fa fa-cloud-download fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="col-sm-9">
                                <h3 class="margin-vert-10">Aliquam dictum nulla</h3>
                                <p>Lorem Ipsum is simply dummy text of Lorem the printing and typesettings. Aliquam dictum nulla eu varius porta. Maecenas congue dui id posuere fermentum.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- Progress Bars -->
                        <h3 class="progress-label">Graphic Design
                            <span class="pull-right">92%</span>
                        </h3>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 90%">
                            </div>
                        </div>
                        <h3 class="progress-label">Marketing
                            <span class="pull-right">82%</span>
                        </h3>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 82%">
                            </div>
                        </div>
                        <h3 class="progress-label">SEO
                            <span class="pull-right">74%</span>
                        </h3>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 74%">
                            </div>
                        </div>
                        <h3 class="progress-label">Programming
                            <span class="pull-right">78%</span>
                        </h3>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 78%">
                            </div>
                        </div>
                        <h3 class="progress-label">PHP
                            <span class="pull-right">88%</span>
                        </h3>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 88%">
                            </div>
                        </div>
                        <!-- End Progress Bars -->
                    </div>
                </div>
                <hr class="margin-vert-40">
            </div>
        </div>
    </div>
</div>

