<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
            <nav class="breadcrumb">
              <a class="breadcrumb-item" ui-sref="app">主页</a>
              <a class="breadcrumb-item" ui-sref="app.daigou">/芋头熊的代购</a>
              <span class="breadcrumb-item active">/{{daigouDetail.daigouClass}}</span>
            </nav>
            <h2><img src="../../img/blog/cart.png" class="daigoudetailimg">{{daigouDetail.daigouClass}}</h2>
            <a ng-if="isAuth && isAdmin" ng-click="openDaigouCreateTag()" class="vbtn vpurple">添加标签</a>
            
                <!-- Intro / Why Us? -->
                <div class="row">
                    <div class="col-md-3 daigoutagbox">
                      <ul ng-repeat="items in daigouDetail.classTag" class="daigoutag">
                        <li class="pointCursor daigoudetailtag" ng-click="toDaigouPro(items._id)">
                          {{items.productName}}<a ng-if="isAuth && isAdmin" ng-click="deleteDaigouTag(items)" class="vbtn vpurple">删除</a>
                        </li>
                      </ul>
                    </div>
                    <div ui-view class="col-md-9">巴黎留学生代购，物品均为本人一手采购，可直播关于药妆，彩妆，红酒，母婴及保健品。药妆为药房采购。彩妆及其他护肤品均购于丝芙兰，marionnaud，以及nocibe，可拍购物小票。拼邮回国，北京或深圳分发。如购买超过5kg可法国直邮。关于奢侈品,奢侈品购于老佛爷，春天百货，及品牌门店。无论邮寄或者人肉带回都会给小票，小票作为凭证和国内专柜保养的依据。奢侈品邮寄，直邮不包关税，人肉包清关无关税，可以自行选择收货方式。</div>
                </div>


                <!-- End Intro / Why Us? -->
                <hr class="margin-top-20 margin-bottom-30">
                <!-- Middle Text -->
                <div class="row">
                    <div class="col-md-12 text-center margin-top-10 animate fadeInUp">
                        <h2 class="text-center margin-top-10">您的鼓励是对我最大的支持</h2>
                        <p class="text-center margin-bottom-30">希望您能满意</p>
                    </div>
                </div>
                <!-- End Middle Text -->
                <hr>
            </div>
        </div>
    </div>
</div>