<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <nav class="breadcrumb">
              <a class="breadcrumb-item" ui-sref="app">主页</a>
              <span class="breadcrumb-item active">/芋头熊的代购</span>
            </nav>
            <div class="col-md-12">
                <h2 class="margin-vert-20"><i class="fa-gift fa-1x color-bigred"></i>芋头熊的代购<a ng-if="isAuth && isAdmin" ng-click="OpenDaigouCreate()" class="vbtn vred">添加种类</a></h2>
                <div class="row margin-bottom-30">
                    <div class="col-md-4 animate fadeInLeft">
                        <p>巴黎留学生代购，物品均为本人一手采购，可直播</p>
                        <p class="margin-bottom-30">关于药妆，彩妆，红酒，母婴及保健品。药妆为药房采购。彩妆及其他护肤品均购于丝芙兰，marionnaud，以及nocibe，可拍购物小票。拼邮回国，北京或深圳分发。如购买超过5kg可法国直邮。
                        <p class="margin-bottom-30">关于奢侈品,奢侈品购于老佛爷，春天百货，及品牌门店。无论邮寄或者人肉带回都会给小票，小票作为凭证和国内专柜保养的依据。奢侈品邮寄，直邮不包关税，人肉包清关无关税，可以自行选择收货方式。</p>
                        <br>
                        <img src="img/daigou/code.jpg" style="width: 280px"></p>
                    </div>
                    <div class="col-md-8 animate fadeIn">
                        <!-- Person Details -->
                        <div class="col-md-4 col-sm-4 person-details margin-bottom-30" ng-repeat="item in daigoues">
                            <figure>
                                <img ng-src="../uploads/{{item.classPage}}" alt="image1" ng-click="toDaigou(item._id)">
                                <figcaption>
                                    <h3 class="margin-bottom-10 pointCursor">
                                        {{item.daigouClass}}
                                        <small>-{{item.subTitle}}</small>
                                    </h3>
                                    <span>{{item.daigouIntro}}</span>
                                    <a ng-if="isAuth && isAdmin" ng-click="deleteDaigou(item)" class="vbtn vred">删除</a>
                                </figcaption>
                                <ul class="list-inline person-details-icons">
                                    <li>
                                        <a href="#">
                                            <i class="fa-lg fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-lg fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-lg fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-lg fa-dribbble"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-lg fa-google-plus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </figure>
                        </div>
                        <!-- //Portfolio Item// -->
                    </div>


                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <h2>热销产品</h2>
                        <div class="row">
                            <div class="col-sm-3">
                                <span class="animate fadeInLeft">
                                    <img src="../../img/daigou/67.jpg">
                                </span>
                            </div>
                            <div class="col-sm-9">
                                <h3 class="margin-vert-10">佳丽雅婴幼儿奶粉</h3>
                                <p>1-4段佳丽雅奶粉，可随时去买</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <span class="animate fadeInLeft">
                                    <img src="../../img/daigou/72.jpg">
                                </span>
                            </div>
                            <div class="col-sm-9">
                                <h3 class="margin-vert-10">法国本土葡萄酒</h3>
                                <p>葡萄酒需预定，一周左右发货</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- Progress Bars -->
                        <h3 class="progress-label">Marketing
                            <span class="pull-right">92%</span>
                        </h3>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 90%">
                            </div>
                        </div>
                        <h3 class="progress-label">Marketing
                            <span class="pull-right">82%</span>
                        </h3>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 82%">
                            </div>
                        </div>
                        <h3 class="progress-label">SEO
                            <span class="pull-right">74%</span>
                        </h3>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 74%">
                            </div>
                        </div>
                        <h3 class="progress-label">Programming
                            <span class="pull-right">78%</span>
                        </h3>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 78%">
                            </div>
                        </div>
                        <h3 class="progress-label">PHP
                            <span class="pull-right">88%</span>
                        </h3>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 88%">
                            </div>
                        </div>
                        <!-- End Progress Bars -->
                    </div>
                </div>
                <hr class="margin-vert-40">
            </div>
        </div>
    </div>
</div>

