<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
            <nav class="breadcrumb">
              <a class="breadcrumb-item" ui-sref="app">主页</a>
              <a class="breadcrumb-item" ui-sref="app.daigou">/芋头熊的代购</a>
              <span class="breadcrumb-item active">/护肤品</span>
            </nav>
            <h2>护肤品</h2>
                <!-- Intro / Why Us? -->
                <div class="row">
                    <div ng-cloak>
                      <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                          <md-tab label="面霜|乳液|面膜">
                            <md-content class="md-padding">
                              <div class="col-md-12">
                                  <p class="md-display-1">理肤泉安心霜 特安舒护乳舒缓修复霜 清爽型/滋润型40ml</p>
                              </div> 
                              <div class="col-md-4">
                                  <img src="../../img/daigou/1.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                                <p>
                                1.极致舒缓 ：富含创新科技成分神经胜肽，即刻改善皮肤不适，长效舒缓。 
                                2.极高耐受性 ：耐受性经过敏肌肤及敏感肌肤测试。 
                                3.极纯净配方 ：极精简成分，避免所有刺激性过敏原。 
                                4.为肌肤打底 ：在使用各类精华或面霜前作打底使用，可显著减少皮肤过敏情况，避免外界刺激，肌肤耐受性变好。
                                对于敏感肌肤的护肤理念是抑制发yan、重建屏障、舒缓镇静三部曲，有效减缓47%发yan症状，镇静敏感肌肤末梢神经。
                                源自制药行业创新包装科技，泵式按压设计、独家专利科技100%密封包装，真正做到零残留、零污染、零氧化、零浪费、零接触五大安全保障。
                                </p>
                              </div>
                              <div class="col-md-12">
                                  <p class="md-display-1">Avene雅漾修护保湿霜50ml 清爽型/滋润型 补水防裂抗敏</p>
                              </div> 
                              <div class="col-md-4">
                                  <img src="../../img/daigou/2.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                                <p>
                                产品功效：
                                富含雅漾活泉水（67％），快速平缓刺激。修复表皮天然防御功能，保证长久有效的防护。细腻、轻盈，快速渗透使表皮回复舒适、平衡。季节转换、荷尔蒙失调适用于接触过敏原引起的过敏反应，日晒后的红肿，外出旅行、水土不适特别适用，可用在整容、手术后的伤口处理。
                                </p>
                              </div>
                              <div class="col-md-12">
                                  <p class="md-display-1">理肤泉立润密集保湿霜  清爽型/滋润型 </p>
                              </div> 
                              <div class="col-md-4">
                                  <img src="../../img/daigou/3.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                                <p>
                                （立润全系列含有水解透明质酸，也就是常说的纳米透明质酸，小分子可以更好的为肌肤保湿的透明质酸 ）
                                  含甘油与牛油果提取物，智慧补水，深度滋润皮肤，恢复皮肤水油平衡质地温和细腻滋润，蕴含理肤泉温泉水，抗自由基，舒缓皮肤， 缓解敏感问题，舒缓皮肤，满足日常保湿需求，内含聚合体持续释放保湿因子，使皮肤深层长久保湿，效果持久。特殊设计的气密性抗污染瓶可保持霜体的活性分子新鲜。
                                  理肤泉温泉水：舒缓、镇静、抗炎、止痒、抗自由基，促进疤痕愈合
                                </p>
                              </div>
                              <div class="col-md-12">
                                  <p class="md-display-1">Vichy薇姿温泉矿物保湿水活霜50ml 清爽型/滋润型 补水</p>
                              </div> 
                              <div class="col-md-4">
                                  <img src="../../img/daigou/4.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                                <p>
                                （2012年时尚COSMO美容大奖！vichy明星产品）
                                保湿同时，强化肌肤天然屏障功能，实现强韧保湿效果，帮助肌肤远离敏感，透显丰盈水润，健康强韧。独特微胶囊水分缓释技术：将“薇姿温泉水”和“活性透明质酸精华”包裹在微胶囊内部，持久释放。深层滋养肌肤，24小时滋润、强韧，保湿、舒缓、强化，适用于敏感期，使用4周后敏感度-42%，粗糙度-41%，皮肤干燥度-47%。

                                </p>
                              </div>
                              <div class="col-md-12">
                                  <p class="md-display-1">Avene雅漾舒缓特护面霜 50ml 清爽型／滋润型</p>
                              </div> 
                              <div class="col-md-4">
                                  <img src="../../img/daigou/5.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                                <p>
                                适用：过敏性、高度敏感性皮肤；眼睑湿疹，荨麻疹，由于光照引起的红斑性皮炎；由于化妆品引起的皮肤过敏反应；由刺激引起的红斑、发痒。功效：重建皮肤屏障，降低皮肤敏感性，柔滑独特的质地在使用后即刻产生舒适感。对过敏性和高度敏感性皮肤具有保护、保湿和滋养作用，不引起粉刺。1.雅漾舒缓系列是首个为过敏性和高度敏感性皮肤提供高效、舒适的护理并杜绝一切过敏和刺激可能性的护肤品。2.此系列产品已取得独家专利权。E.T.S保障体系*（*其耐受性经“法国国家高度耐受性体系”认证）。3.以生产注射药物的标准在无菌的环境下生产。4.经皮肤专家及过敏专家对敏感肌肤作多次耐受性临床测试。
                                </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">法国Embryolisse妆前保湿隔离乳 24小时保湿 75ml</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/6.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              这是一款奇迹面霜，它是保湿霜，是霜，能轻轻去除化妆品，剃须后的残留，带来露般的柔嫩。它是一种洁面霜和保湿霜的乳化结合的柔润霜，同时不破坏肌肤的自然平衡（如pH值，微生物）和保护皮肤的天然保护水脂层。上妆前，先使用保湿面膜将大量的水分快速地输送到肌肤内部，然后再涂上一层薄薄的保湿霜，将水分完全锁在肌肤里，就能让肌肤展现润泽感，男士刮胡刀后皮肤有不适的都可以涂用来舒缓。！1.《VIVI》推荐为 巴黎每个模特儿包包里必备的产品之一。2.牛尔老师曾于节目《女人我最大》中推荐产品。3.《ELLE》《VOGUE》《Cosmopolitan》《Marie Claire》推荐产品
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">CAUDALIE/欧缇丽 控油保湿乳 冰淇淋霜（16年新包装）</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/7.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              这款质地轻薄的，92% 天然配方成分的乳液。质地清爽不油腻，出色的油脂调节功效将令你的肌肤焕然一新。一经使用，将立即抑制过多皮脂分泌并可长效保持肌肤的水油平衡。是一款适用于混合性肌肤，防止油光满面的控油保湿的理想产品。主要成分：有机葡萄水立即降低肌肤敏感度，为肌肤注入水分直至细胞中心，长效保湿。红酒酵母，预防肌肤脱水，增强肌肤免疫系统。与此同时，橄榄角鲨烷抚平和软化表皮组织。亚麻粉以及非洲树木和爪哇岛茶树叶的萃取物立即吸收多余油脂，调节油脂分泌，同时改善肌肤质地。葡萄籽多酚具有双重功效，它的抗氧化特性能帮助肌肤抵御自由基的侵袭，同时，它的抗透明质酸酶特性保护肌肤中透明质酸的含量，让肌肤饱满有弹性。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">法国Dexeryl creme 特效润肤乳/湿疹辅助润肤霜 万能膏250ml／500ml</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/8.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              只在法国药房出售。一只婴儿成人全家可用的保湿面霜，身体乳。宝宝皮肤干燥，使用效果也很好，是法国医生推荐的宝宝湿疹用保湿产品之一。此产品也是经当地皮肤医生和儿科医生一致推荐的, 针对干性/ 缺水皮肤而研制,产品无色无味,纯天然配方研制，可作婴儿平日的润肤乳使用。敏感皮肤和过敏皮肤也可使用。辅助疗效：用于湿疹，皮炎，牛皮藓及浅表性烫伤。吸收迅速，使用起来不会感觉油腻，清爽柔和，改善皮肤干燥裂纹，保湿无负担。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Avene/雅漾活泉恒润保湿乳  清爽型/滋润型50ml</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/9.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              功效：富富含雅漾舒护活泉水（抗刺激、抗氧自由基、舒缓作用）。模仿眼睛泪液膜动态保湿系统：深层、持久保湿。粘蛋白：与雅漾活泉水结合。渗透性：具有良好的伸展性和渗透性。亲水性：由于有强大的负电荷，能获取并保留水份，增加细胞间含水量。类脂蛋白：双性共聚物分子，能将雅漾活泉水和三重脂质体连接，形成皮脂膜，阻止水份蒸发。控油效果。低过敏性香料（筛选过）。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">法国代购 Filorga菲洛嘉 玻尿酸高保湿面霜50ml 抗氧化保湿</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/10.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              此款面霜结合两个玻尿酸（大分子＋微片段）的作用来达到微填充和补水的显著效用。与此同时促进胶原蛋白的合成，减少周围和真皮折痕。NCTF®（菲洛嘉专利）和透明质酸与核层蛋白5的前体协同作用，可以重建“真皮-表皮联合”，从而令肌肤，从而令肌肤恢复紧致；它们与苹果籽提取物协同作用，可以增加表皮的韧性和弹性。涂抹完之后的肌肤是饱和且呈亚光的自然状态，这与很多其他面霜使用之后面部泛光有着明显区别。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">法国Nuxe 欧树植物鲜奶保湿霜</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/11.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              NUXE第一款革命性植物鲜奶产品，结合植物蛋白质与芳香疗法，是疲倦受损肌肤的效果。8种植物鲜奶能快速补充基础蛋白质，4款天然精油则能平衡肌肤抵抗压力。使用后肌肤立刻变得滑顺有弹性，白天可用以隔离彩妆，晚间则可尽情修护肌肤。完美保湿，恢复皮肤弹性，柔软性。无致痘性，所有肤质（含最敏感肌肤）均适用。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Kiehl's科颜氏/契尔氏高保湿面霜125ML 特效平衡补水</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/12.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              契家的明星面霜，保湿能力一级棒！口碑很不错的一款保湿霜，如果觉得最近皮肤紧绷绷的，可以试试哟！给你24小时全天候保湿!适用任何肤质。萃取自南极的冰河醣蛋白，具有防冻、抗干燥，强效的保湿功效。能锁住肌肤表面水分并吸收空气中的水气，达到全天候不间断的保湿效果，使用后肌肤感觉舒适和明显地水份均衡；在吸取和吸收空气中的水气时，帮助肌肤减少水份的流失。即使是在气候严峻的环境之中也可发挥防护伤害。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">FILORGA菲洛嘉sleep and peel极致焕肤晚霜   抗衰/焕肤/提亮/淡斑</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/13.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              FILOTRGA实验室的独一无二中胚层疗法护理，促进细胞更新的“助推器”，有效地防止肌肤过早老化。独家的NCTF抗衰老奈米微球配方与透明质算的鸡尾酒組合，外加六种AHA和BHA酸性成分，能循序渐进地去角質。微脂囊包裹的杜鵑花酸和丙酮酸，滋润、抑制粉刺並抗氧化。马曲金钛結合褐藻，达到纾缓以及抗老化的作用。不仅肌肤变得幼滑，色素也有效地淡化。若皮肤比较敏感，可两天一次，与抗皱面霜或者玻尿酸面霜交替使用都可以。Anaïs把它当晚霜用。是最近晚上最期待的一项保养。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Filorga菲洛嘉Time filler逆龄时光面霜 50ml</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/14.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              TIME-FILLER面霜是一种抗衰老、适合所有皮肤类型的面霜。它能舒缓肌肤，减少和抚平皱纹，光滑脸部肌肤。 减少皱纹：肉毒杆菌般的三肽能使肌肉收缩和舒缓脸部皮肤，使脸部重新焕发活动。玻尿酸注射明星分子被封装到一个深扩散和填充效果可见。2014年研发，抗拉面霜，满足你对全面抗老的全部需求！使用3天后，川字纹将减少19%。使用28天后，所有类型的皱纹都将出现明显的减少：鱼尾纹减少37%，川字纹减少39%，抬头纹减少30%。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">FILORGA菲洛嘉MESO柔滑亮白面膜 十全大补</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/15.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              十全大补面膜使用后效果非常出色，保湿美白功效明显，而且使用频率也不需要很高，差不多每周一次即可，是人手一罐的好面膜！在使用这款十全大补面膜的同时，可以配合依泉水漾保湿面膜一起用的，FILORGA十全大补面膜每1-2周使用一次厚敷，之后连续3天使用依泉水漾保湿面膜面膜做加强，因为十全大补是一款种植面膜，将大量的小分子玻尿酸分子注入皮下，修复受损干瘪的细胞，刺激胶原蛋白再生，做完这个面膜皮下细胞合成速度加快，此时需要大量补水，3天内多敷补水面膜，这样皮肤通道打开，皮肤才会晶莹剔透哦！
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Caudalie/欧缇丽 深层清洁排毒缩毛孔面膜</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/16.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              其中主要的葡萄果萃取物、柠檬果油、罗布斯塔咖啡树籽萃取物等纯天然精油成分，能帮助肌肤达到深层清洁、紧致毛孔的速效排*毒功效。比较特别的是，因为成分中含有pink clay粉红泥，所以这款排*毒面膜呈现出来的是可爱的裸粉色，味道闻起来也带有CAUDALIE家的天然疗愈香气。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">西班牙皇室面膜Casmara卡曼</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/17.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              高端专业沙龙级别面膜Casmara。卡曼西班牙皇室御用面膜。孕妇可用。 24K黄金：深层滋润锁水，提亮肤色提拉紧致，并且是一款24K 医用级真金纳米级微粒打造的“奢侈品”面膜；红色：抗氧化改善肤色。24K 黄金膜和净化面膜还有补水面膜效果好得无与伦比，蓝色！蓝色提拉紧致保湿抗皱面膜！绿色，控油排毒净化。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Placentor植物胎盘抗氧化提亮肤色脸颈精华面膜颈膜</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/18.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              这是一款真正的专业家庭护理面膜，一款针对脸颈的专业多小全方面的保养面膜，其中富含天然活性成分的高性能抗衰老精华。防止和减少皱纹，紧致和重构面部肤质。深层持久滋润皮肤。刺激细胞再生，并可保证一个长效持久的保湿。提亮肤色（排水和减少充血）；防止和减少皱纹（激活抗自由基）。即刻就可平滑柔顺，提亮肤色。成分：纯深海易吸收的完全水解性胶原蛋白。植物胎盘，黄金洋甘菊，两种热带植物提取物（Quillaja et Kigelia），有机橙提取物。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">法国Biocyte胶原蛋白玻尿酸生物纤维面膜 美白保湿 </p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/19.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              这款面膜含有玻尿酸，胶原蛋白和弹力蛋白的精华液,具有保湿去皱的双重功效。不仅让皮肤喝足水分还能提拉紧致肌肤，变得丰盈饱满。大大的延缓了皮肤的衰老。每周1-2片和干燥松弛说byebye。面膜浓缩了肌肤所需的3大营养基石：玻尿酸/透明质酸，弹力蛋白及胶原蛋白，深入渗透激活肌肤，令其水润通透的同时提拉紧致更富弹性，效果胜过普通面膜的十倍！ 此外面膜纸的质地更是它的一大特色，采用生物纤维材料，具有超强的亲肤性，以及贴入皱纹细纹的包覆能力，犹如您的第二层皮肤！敷面效果远远高于普通的布织面膜。其透气不透水的特性，既保持了皮肤的正常呼吸，又阻碍了外界的污染物。
                              </p>
                              </div>

                            </md-content>

                          </md-tab>
                          <md-tab label="精华|眼部精华">
                            <md-content class="md-padding">
                              <div class="col-md-12">
                                <p class="md-display-1">Darphin迪梵全效抗敏舒缓精华液30ML 敏感祛红血丝 </p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/20.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              Darphin全年热销第一、回购率第一的超级经典之作！适合容易泛紅刺激并带有红血丝的敏感性肌肤使用，能有效改善泛紅问题、修护与强化肌肤的天然防御层。此款精华液融合了洋甘菊、山楂、牡丹组成的专利镇静配方，能改善泛红及红血丝问题，立刻镇静各种肌肤敏感不适问题。并能柔嫩敏感性肌肤，让肤色更均匀并呈现健康舒适的肌肤光彩。Darphin全效舒缓精华液结合神奇芳疗和先进美容科技，以镇定舒缓+防御修护双重机制，深入基底强化肤质，让肌肤常保健康柔嫩。萃取自甘菊及牡丹等植物的专利镇静配方'Calm ComplexTM'，迅速缓解紧绷、干燥、泛红、粉刺、毛孔粗大等不适现象，并以纯天然植物香氛，融入类医学美容保养的防御修护机制，调理肌肤恢复健康平衡，重新完美肤况。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Caudalie欧缇丽SOS莹润保湿精华 30ml</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/21.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              该精华能为皮肤紧急解渴，法国官网显示用后补水效果提升127%，真的称得上是SOS补水！
                                这款产品质地特别轻薄，水水的，极易吸收，换季或者皮肤突然变干使用，补水保湿效果非常明显。可以深层补水使肌肤恢复舒适、柔软和弹性，扶平缺水皱纹，同时含有的抗氧化成分能防止皮肤细胞过早老化，补水、抗衰老一瓶搞定！

                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Caudalie欧缇丽淡斑美白精华液 (又名葡萄蔓美白精华，淡斑精华)</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/22.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              获得法国SANTA BEAUTE杂志美白大奖第一名
 
                                CAUDALIE首度研发的美白商品，珍貴的『极致精华液』每瓶中都含有1000PPM的Viniferine，1公顿的白苏維浓葡萄蔓才能萃取出1公斤的純淨Viniferine，可以有效減少黑斑數量、大小、黑色素含量和顏色，同是还有抗自由基以及抗老的效果。
                                  葡萄蔓精华能够重新启动肌肤年轻的原动力，在肌肤底层形成防护网，阻止有害因子伤害肌肤，像是鐳射光一般，让斑点消失无踪，維持肌肤的紧实细致。
                                萃取自白苏维浓葡萄蔓的全新成分Viniferine，可以在第一时间抑制酪胺酸酵素活性，调节黑色素，对抗自由基，中和細胞氧化反应，达成淡化斑点和印记，以及焕白肌肤的效果。
                                乳液状精华具有无可比拟的祛斑效果，试验证明，使用4周后即可看到效果。 可祛除已有色斑，防止色斑再生，令肤色光彩动人。 此款乳液具有抗氧化功效，可强效抵御自由基伤害。 令您的肤色均匀明亮。 恢复年轻风采。四周内有效减少脸部斑点淡化肤色

                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">菲洛嘉Filorga time-zero逆龄全效抗皱抗老修复精华30ml </p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/23.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              这款是菲洛嘉新品精华，内部是两个精华分开的（一个主打抗皱，一个主打紧致）。结合创新技术Zero去皱浓缩精华+紧致啫喱双重漩涡，能有效减少各种类型皱纹，含活性透明质酸成分，有效填充细纹、丰盈肌肤，Matrikines（美容肽）和NCTF相结合，帮助紧致平滑肌肤，含多肽帮助收缩皱纹，含葡萄糖酸内酯与去角质活性成分结合，帮助淡化细纹，日复一日，皱纹明显减少并面部呈现年轻化，INSPIRED最新的创新医疗FILORGA。双份精华的形式，[ZERO去皱浓缩+GEL LIFT INTENSE极度精致GEL LIFT]减少了所有类型的可见性的皱纹。含有106种成分，86%的活性成分（深入真皮层，让肌肤呈现应有的弹性和光泽，能达到长时间保湿，增加肌肤弹性，提供全天候的防御和保湿措施。初期抗老，十全大补成分，提供保湿+预防衰老）
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">法国Placentor植物胎盘抗衰老氧化淡化眼袋细纹去黑眼圈 眼膜</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/24.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              这是一款真正的专业家庭护理眼膜，富含天然活性成分的高性能抗衰老精华。
                                细纹和皱纹明显减少。眼袋和浮肿明显减少。使眼周变得平滑，柔顺。
                                纯深海易吸收水解性胶原蛋白（无碘）：
                                防止和减少细纹和皱纹，紧致和重组眼周表皮。深度滋养。
                                植物胎盘：刺激细胞再生，并且同时迅速补水，并效果持久

                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">FILORGA菲洛嘉抗疲倦全效贴片眼膜 去细纹黑眼圈 8对</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/25.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              FILORGA实验室推出的特殊黑色眼膜，凝胶片状，完全贴合肌肤，保湿补水，过敏时还可起舒缓作用。提取自一种称为卡拉胶的稀有深海藻类，仅需10分钟，即可舒缓眼部周围肌肤，瞬间恢复平滑紧致，抚平眼部细纹。结合矢车菊提取物，改善微循环，减少黑眼圈和眼袋，只需使用一盒即可令双眸持久换发青春光彩。
                              </p>
                              </div>

                            </md-content>
                          </md-tab>
                          <md-tab label="卸妆|去角质|洁面">
                            <md-content class="md-padding">
                              <div class="col-md-12">
                                <p class="md-display-1">法国 Bioderma贝德玛 舒妍卸妆水500ml 粉水温和卸妆清爽抗敏</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/26.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              敏感、脆弱肤质首选卸妆、清洁最佳护理产品。专利独特Micelle新科技，含有水溶及油溶份子，四效合一，可当清洁、卸妝妆、化妆水及保湿乳液使用，不必再用水洗。能有效卸除脸部和眼唇的彩妆及不洁物，甚至是防水彩妆，提升皮肤的舒适度，改善紧绷不适感并使肌肤柔嫩，使用後倍感清爽舒适，成份温和能适用於脆弱的眼部肌肤。天然青瓜植物精华有效柔软肌肤，舒缓保湿。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">LRP理肤泉清痘净肤舒缓洁面啫喱</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/27.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              啫喱质地，不含皂质，有效打开阻塞毛孔，减少油脂分泌，抑制不洁物滋生。含有专利成分Zinc PCA 和Glycacil，温和清洁并去除油脂，收敛毛孔, 抑制痤疮丙酸杆菌滋生, 有效抑制青春痘、粉刺。pH值5.5，清理皮层的同时避免痘痘不适，贴合皮肤酸碱度，敏感皮肤亦可安心使用。抗菌因子，柠檬酸，吡咯锌，理肤泉温泉水。这款洁面在温度较低的时候会凝固成白色状的，天气暖和以后，它又会恢复透明啫喱状了。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Avene雅漾清爽洁肤凝胶洁面300ml控油祛痘收毛孔去黑头</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/28.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              不含皂基，温和深层清洁，洗后保湿不紧绷；西葫芦籽提取物有效调节油脂分泌，收敛毛孔，减少黑头，调节油脂分泌，净化肌肤；清爽的凝胶质地,特效抑菌成分使皮肤洁净。富含雅漾活泉水（抗刺激、抗炎、舒缓作用）。配合雅漾活泉水，舒缓，减少刺激，减轻红肿现象。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Caudalie泰奥菲/欧缇丽葡萄籽洁面摩丝</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/29.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              Caudalie的口碑王牌产品，泡沫细腻丰富，清洁度适中，敏感性皮肤也可使用。具有镇静、保湿、再生的功效，其中的洋甘菊成分能有效保湿、舒缓镇静并收敛毛孔。天然葡萄萃取含亲水性滋养成分，更富含皮肤可直接吸收的植物糖分(葡萄糖、果糖)，与丰富维他命群(C、A、B1、B2、B5、B6、B9、E、PP、P)。酿酒般严格萃取，保有植物天然活性，让葡萄中的植物精油、矿物质(磷、钾、钙、镁、硫、氯、硅、锰、铁、碘、锌、铜)与微量元素，给肌肤卸妆外第一重滋养。Caudalie独有的葡萄花香氛，采撷波尔多拉斐特葡萄酒庄每年6月清晨绽放的细小葡萄花制成的清新香氛，清洁保养同时感受6月清晨葡萄园的山野气息，洁颜摩丝的淡绿色彩来自天然叶绿素。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">NUXE/欧树 蜂蜜温和卸妆洁面凝胶200ml</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/30.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              蜂蜜萃取精华，带给肌肤舒爽清洁的愉悦感 成份含有：金合欢、蜂蜜、核桃树精华、人参、锻木、水蜜桃等！
                                1．源于植物的温和去污因子：清洁，保护皮肤的水脂膜
                                2．合欢树,桃子精华：软化角质
                                3．酸橙花精华：镇静肌肤
                                4．胡桃精华：收缩紧致毛孔
                                5．人参精华：调理肤色

                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Chanel 香奈儿 柔和泡沫洁肤乳 150ml</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/31.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              水洗式洁肤泡沫，可去除污染物。添加辣木精华与润肤配方，洗完脸后拥有水嫩柔滑肤质，散发出小苍兰及仙客来花的芳香。彻底洁净肌肤，使肌肤柔软、光滑、润泽并觉得舒适。强化肌肤的自然防御能力，避免外在环境对肌肤的伤害。含辣木精华，具双重抗污染作用，可深层洁净肌肤，对抗室内及室外污染。富含润泽复合物(山茶花油、维他命原B5、玻尿酸)，能够滋润及保护肌肤，促进细胞修护，捕捉及锁住水分，使肌肤长保润泽及舒缓。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">LRP理肤泉立润去角质磨砂凝胶 50ml 去黑头去死皮磨砂</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/32.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              超细磨砂，软化去除废旧皮角质，温和代谢，提升肌肤明亮色泽，重现肌肤光滑触感，让肌肤重回健康、自然状态。温和柔润的凝胶质地，不会让肌肤紧绷。富含理肤泉矿泉水，温和去角质，连敏感肌肤都可以使用，有效防止肌肤氧化并使肌肤达到生理平衡。
                              </p>
                              </div>
                            </md-content>
                          </md-tab>
                          <md-tab label="喷雾|眼霜|唇部">
                            <md-content class="md-padding">
                              <div class="col-md-12">
                                <p class="md-display-1">eau precieuse 珍贵水/爽肤水 375ml 油性皮肤控油祛痘</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/33.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              痘痘妹妹的福音来了！法国百年老品牌，在法国销量最好的针对痘痘肌肤的最好的爽肤水。法国医生推荐！好用实惠！还在被痘痘困扰的姐妹们试试吧。珍贵水是一种针对粉刺，黑头,脓包，水泡的爽肤水。它可以进一部清洁毛孔，使用后黑头也会慢慢减少，使用时痘痘破了也不会感到疼痛，挤完痘痘后还可以用它来消毒，不会引起发炎，并且用完以后皮肤感到更柔软，而且比较滑，也很干净。另外对于黑头，还有改善油皮都有功效。 历经百年，仍旧保持法国化妆水销售第一的殊荣。拥有120年历史，在法国被誉为“珍贵水”。法国皮肤科医生推荐品牌，法国药剂师Charles Depensier研发于1890年。百年来除了包装以外天然简单的配方从未改动。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">理肤泉痘痘清爽肤水/清痘净肤爽肤水 200ml</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/34.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              适合油性皮肤/痘痘肌肤，含葡萄糖酸锌，调控油脂分泌，缩小毛孔，此外氧化锌和硅酸铝镁，吸收多余油脂，使皮肤哑光，水杨酸，剥脱角质，预防细菌再生，并富含理肤泉温泉水和保湿成分，控油、紧致毛孔的同时给予皮肤充足水分。气味清新怡人，用后肌肤清爽舒适。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Caudalie欧缇丽 大葡萄深层保湿柔润爽肤水200ml</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/35.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              洁肤和爽肤是保持肌肤洁净的基本步骤。CAUDALIE的洁肤及爽肤系列采用革新配方，有效清除导致肌肤暗哑的污垢，让肌肤为吸收护肤品养分做好准备。于早晚使用护肤产品前，先为面部进行洁肤及爽肤程序，才把护肤品涂上。萄籽深层保湿柔肤水，是葡萄籽的又一个全新秘密的揭开。蕴含抗氧化功效的葡萄籽多酚OPC，肌肤深层保湿，并且可以二次清洁肌肤残留的污垢及彩妆。不含任何化学品和防腐剂，即使敏感肌肤和眼唇部位也可放心使用。保湿的同时，葡萄籽天然抗氧化的作用，更可以保护肌肤减少外界空气污染的侵害，延缓衰老。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Caudalie/泰奥菲大葡萄匈牙利皇后水</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/36.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                               葡萄萃取、迷迭香、薄荷、安息香、没药萃取、橙果与玫瑰花。(原始配方來自匈牙利皇后的青春保养秘诀，主要成份是撷取自稀有植物天然油脂，清爽的活性化妆水可淡化脸部的细小斑点疤痕，紧致毛孔，强化复合保湿功能)
                                玫瑰提取物：消炎、镇静，舒缓紧张。
                                迷迭香提取物：消炎抗菌、抗痉挛、收敛、促进血液循环、抗衰老。
                                苦橙提取物：疏通毛囊、调节皮肤的油脂分泌。
                                薄荷提取物：消炎，杀菌，舒缓紧张，清爽，促进透皮吸收。
                                没药提取物：镇静，高效抗炎
                                安息香提取物：抑菌、天然防腐
                                香蜂花油：解痉、镇静、愈伤

                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Bioderma贝德玛水润保湿爽肤水250ml</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/37.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              专利配方“aquagemum”水漾因子，提高肌肤含水量长效保湿，能形成保护屏障以防水分流失，快速解决肌肤缺水现象，金海草精华含天然保湿因子，重建肌肤皮脂膜，促进细胞再生且滋润，具有再度清洁功能，帮助导入后续保湿产品，让皮肤光泽饱满。深層滋潤、長效保濕，能形成保護屏障以防水分流失，快速解決肌膚缺水現象。
                                含天然保濕因子，重建肌膚皮脂膜，促進細胞再生且滋潤。迅速滋潤，回覆彈性，肌膚更顯水潤、光澤。具有再度清潔功能，給予肌膚清新自然，極佳舒適感。

                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Filorga菲洛嘉肌肤再生爽肤水/柔肤水/粉水 150ml</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/38.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              这是菲洛嘉17年新品，保湿补水提亮紧致抗皱的爽肤精华水。大家都知道，以前菲洛嘉从来没有出过爽肤水产品，因为它家的洁面摩丝含有玻尿酸，清洁后的保湿度很不错，所以是可以直接上后续的精华、乳液等产品的。可是，随着菲洛嘉品牌逐渐打开国际市场，他们慢慢发现了一个不争的事实：地球上不是所有地方的水质都跟出依云的法国一样好。于是这款富含菲洛嘉专利成分NCTF的精华水，就成了菲洛嘉忠粉们不二的选择。菲洛嘉这个品牌是医学美容出生，早年在欧洲以注射针剂名震江湖，其中NCTF就是它家最响亮的一个成分，有效性是经受住了市场和时间的考验的。现在他们把这个注射级别的成分都满当当地放进了这瓶精华水里，推出了这样一款很有诚意的一款产品，一定要试哦！
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">NUXE/欧树 玫瑰花瓣柔肤水/爽肤水200ml 温和保湿</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/39.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              主要功效具有保湿、紧致、舒缓、柔嫩肌肤等功能；植物甘油与金缕梅可強化保湿对抗老化。特添加玻尿酸留住水分让肌肤不干燥。可调理肌肤平衡酸碱值使肌肤获得深层安定洁净、柔嫩透亮。大马士革玫瑰花瓣、尿囊素、植物性甘油、椰子衍生物、金缕梅花水、玻尿酸。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">FILORGA OPTIM-EYES菲洛嘉360度完美雕塑眼霜 15ML</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/40.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              成分： 玻尿酸、复合护眼成份(Haloxyl™)。玻尿酸：卓越的肌肤修护活化因子,修护肌肤恢复年轻。复合护眼成份(Haloxyl™) 为两种胜肽复合成份(NHS+Chrysine)，改善眼周暗沉、无光泽现象，修护脆弱的眼周肌肤。特有的复合成分可清除和淡化黑眼圈，促血液和淋巴循环，从而改善和祛除眼袋。有效刺激纤维细胞活动，改善组织的紧致度，从而抚平皱纹。质地清爽，在滋润眼周肌肤的同时不用担心长脂肪粒。特有的旋转式瓶身，让每一次的使用都十分干净卫生，更防止眼霜在开瓶时大面积接触空气而带来的不必要氧化。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">FILORGA菲洛嘉逆龄时光眼霜15ml</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/41.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              对皱纹：类肉毒杆菌活性成分，结合肽共同作用，平滑眼周表情纹、干纹。
                                对眼脸和睫毛：具有提拉效果的复合物，强效对抗眼脸下垂，同时增加睫毛的浓密度。
                                对眼窝和黑眼圈：最新一代填充技术，使眼下凹陷变饱满，植物基础复合物，结合“剥皮”活性成分，淡化黑眼圈。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">法国 Vichy薇姿温泉矿物水活润眼凝露眼霜15ml减少黑眼圈眼纹</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/42.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              改善眼部缺水纹、眼袋和眼部浮肿。帮助缓解眼袋，去除眼周瑕疵。去除眼周因缺水形成的小细纹，增强皮肤耐受性。不含香精，不刺激，适合敏感性眼睛及隐形眼镜佩戴者使用。含有一种非洲植物（班巴拉花生）提取物为主构成的复合锁水成分及vichy温泉水，滋润、舒缓、平滑眼周皮肤，缓解眼袋、黑眼圈，令眼周皮肤感觉滋润、舒适。低过敏性配方，不含香精。质地清爽、舒适、易吸收。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Nuxe欧树蜂蜜 唇香凝脂唇膜 护唇膏 润唇霜15g </p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/43.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              功效: 
                                   百分之百的天然成分,质地温和,不涵动物质及人工香料,矿物油及防腐劑,是精致的唇部保养。
                                   具有滋润舒缓修护的功能,给双唇细致的呵护,修护粗糙龟裂的唇部。
                                   给予双唇柔软的弹性，                                   浓郁的葡萄柚果香,丰泽的触感使"蜂蜜护唇霜"在歐洲已是所有頂尖模特兒随身必须携带的产品,随时随地,当双唇开始感觉干裂不舒服时,就能立即提供绝佳的保护.

                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Caudalie欧缇丽葡萄籽多酚润唇膏 4.5g+护手霜30ml</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/44.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              葡萄原味，香橙味，玫瑰味，茶香味
 
                                葡萄籽护甲润手霜    30ml
 
                                100%天然植物萃取。                                 CAUDALIE欧缇丽葡萄籽护甲润手霜，内含乳木果、红酒多酚，超效保湿霜，易于吸收，令双手柔软细腻。葡萄籽多酚，滋养强化指甲防止指甲开裂分层现象。
                                含世界独特的配方Vinolevure 具有高保湿能力，稳定葡萄萃取，让双手的肌肤水嫩又有弹性；珍贵的葡萄籽油及鳄梨油，锁水并滋润手部肌肤，是预防手纹产生，加强指甲                               韧性，给予双手顶级呵护的手部精华霜。
  
                                葡萄籽保湿防晒润唇膏   4.5g
 
                                甜美清淡的杏仁奶油气息，使涂润唇膏成为你的乐趣。适用于任何时间，尤其是干燥龟裂及裂伤的唇部，不会使伤口发炎，并能预防因日晒而引起的黯沉及皮肤的破坏。该款                                葡萄籽护唇膏具有修复，镇静及保护唇部肌肤的作用。该护唇膏具有柔润，抗氧化及阻抗ＵＶＡ及ＵＶＢ射线的功效（SPF5），同时还保护了唇色的天然性，对于长期使用唇                                膏而是唇肤失色的朋友来说，是一个非常不错的选择。SPF5润唇膏，含稳定葡萄多酚O.P.C.及乳木果成份 ，发挥修护，滋润软化及                                 保护唇部肌肤，并能减淡唇纹，是涂其他唇膏前的理想唇部底霜 。

                              </p>
                              </div>
                            </md-content>
                          </md-tab>
                          <md-tab label="防晒|隔离">
                            <md-content class="md-padding">
                              <div class="col-md-12">
                                <p class="md-display-1">LRP理肤泉安得利轻盈防晒乳液spf50+</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/45.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              为面部皮肤准备的高效双重防晒露，特别有效的防止阳光中的UVA/UVB射线的侵害，对阳光敏感的肌肤尤其适用。拥有欧莱雅集团的专利配方全波长紫外线隔离系统Mexoryl XL。低过敏性，不含防腐剂，含理肤泉温泉水，相对敏感肤质同样适用。微缩通气性配方，不黏腻，不堵塞毛孔。这款具有创新意义的防晒产品一经推出就获得很高评价，获得了包括具有“美容界奥斯卡”之称的Marie Claire嘉人美容品至尊大奖之内的7个国际性大奖
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Avene雅漾油脂调护清爽防晒乳SPF30/SPF50+</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/46.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              富含雅漾活泉水，具有舒缓，抗刺激作用。结合独特超细的天然矿物遮光剂(专利MPI-Sorb成分)及复合防晒成分，能在皮肤表面形成防晒网，高透气防晒结构，具有优越防晒功效。对脸部有极佳的保护力，且不含表面活性剂，能给予肌肤最佳耐受力全面阻隔紫外线UVA和UVB。质地滋润，吸收迅速,易于涂抹，令妆容更自然，使用更舒适。最新防水防汗配方VE原可加固皮肤自然防御能力,起抗氧化作用。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">AVENE雅漾清爽倍护便携防晒乳SPF50 小金刚30ml</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/47.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              创新SunSitive光敏感防护配方，物理和化学复合防晒剂，全面预防晒黑晒伤，仅含至简化学遮光剂。富含维生素E前体和雅漾活泉水，高效抗氧化并舒缓肌肤。防水防汗、光稳定性强，拥有欧洲高等级UVA防护标准认证。雅漾防晒产品为广谱防晒，无死角，无漏洞，尤其是对波长较短UVA（不可逆的肌肤损害来源）的防护。高光稳定性，高效防水配方，高度耐受性（配方质量保证）。国际皮肤癌基金会权威推荐 有效抵抗紫外线。SCF检测了雅漾防晒产品并确认其符合基金会标准。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">La roche posay理肤泉立润密集保湿隔离乳液50ml  SPF20</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/48.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              该系列隔离有2款：LEGERE(清爽型)和RICHE(滋润型)。智慧导向：固定保湿因子形成连网，并依细胞含水量高低自动补充保湿因子。长效持久：同时于肌肤表层形成保护膜，减少水分散失。富含理肤泉温泉水和滋润因子高效补水、持久补充并锁住肌肤水分；智慧补水科技：Polyglyceryl Methacrylate(甲基丙烯多聚甘油）形成强化保湿连网。三重保湿功效，重建并修复受损表皮，防止水分流失。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">法国Lancome兰蔻气垫修颜隔离乳/气垫CC霜 14g </p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/49.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              Lancôme兰蔻气垫CC霜富含以祛斑功效闻名的松树萃取物，持久使用，肤色光彩照人，无瑕透白。作为首款含有SymWhite的气垫底妆，抗氧化能力更为出众，并能有效均匀肤色，打造美白透亮的妆容。柔滑紧实的美肤功效，聚合物的啫喱质地配合色素覆盖，在具有强大遮瑕功效的同时，实现毛孔愈加紧致，肌肤瑕疵减少，肤质显著光滑均匀。
                                色号选择
                                01  象牙白，这个在所有的色号里面遮瑕最好，适合肤色偏白想要白点效果的，可以修正泛红、泛黄肌肤 有红血丝的肌肤也适合这个色
                                02  自然裸色 适合追求自然裸妆效果的姐妹，这个色号其实基本都适合，不挑皮肤不会太白也不暗 是透明色

                              </p>
                              </div>
                              
                            </md-content>
                          </md-tab>
                          <md-tab label="身体护理">
                            <md-content class="md-padding">
                              <div class="col-md-12">
                                <p class="md-display-1">PHYTO发朵植物精华染发剂/染发膏</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/51.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              发色自然逼真，温和呵护秀发
                                发朵PHYTOSOLBA实验室结合新科技与植物护发专业技术，推出首支植物色素染发护发霜，成分中含有天然染色属性自古以来已被人熟知的印度木、巴西木、茜草、金雀花、金                               鸡菊等植物。
                                发朵植物染发护发霜具有以下功效：
                                首次使用便可100%遮盖白发，
                                发色持久亮丽，成分健康，不伤害头皮于发质。
                                染色后，PHYTOBAUME ECLAT COULEUR发朵亮色艳彩护发霜将长久保持发色的光亮与鲜活。沙棘浆果萃取成分是真正的细胞保护因子，亮色锁色。木槿花酸结合葡萄柚天然植物                                萃取精华，修护发丝毛麟，使秀发格外盈亮鲜艳。

                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Caudalie欧缇丽 葡萄籽紧肤滋养身体乳液400ml   滋润保湿</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/52.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              CAUDALIE紧肤系列是葡萄酒疗法专家精心的研究成果，经温泉中心数以千计人次试用，并通过法国卫生部认可的独立实验室临床测试，证实效果显著，只须14天即可修护肌肤，回复紧致身段。质地如丝般轻柔，能快速渗透，令肌肤变得柔滑滋润。含葡萄籽油及琉璃苣油、芝麻油等珍贵成分，能保湿、滋养肌肤。专利注册的抗氧化多酚可对抗衰老。此外，银杏萃取物更能激活血液循环。
                                强效滋润保湿，促进微循环，通过抗氧化和紧致功效抵抗衰老，改善日晒与脱毛后的脆弱肌肤。

                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">法国SVR XERIAL 30 Crème 鸡皮霜</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/53.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              SVR的独创，其明星产品之一，30%尿素配合复合酸，专门治辽毛囊角化证，去角质，去鸡皮，细致肌肤。儿童、青少年都可以使用。配合同款身体乳能有效改善鱼鳞病症状。适用鸡皮，毛囊角化证状，蛇皮纹，皮肤角质过厚粗糙不细腻等部位。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">saforelle舒卉蕾女性私处洗液/护理液/洁肤露100ml</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/54.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              舒卉蕾是一款富含滋润和保湿成分的无皂基清洗液，为您带来薰衣草怡人幽香。天然植物牛蒡萃取精华Dynaphytols de Bardane 具有抗刺激和镇定皮肤之功效。全新概念的弱碱配方，有效抑制霉菌危害，维护私密部位生 态平衡 舒卉蕾洁护浴露不含防腐剂和色素，性质温和，低致敏性 , 特别适合敏感 、 娇嫩的肌肤和黏膜。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">法国黎瑞/丽蕾克LIERAC  去妊纹精华液</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/55.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              一款堪称完美的塑体乳液，精选的植物精华有助于消除脂肪团，因为他们能加强皮肤结缔组织，能快速并有效地消除顽固的凸出部分和脂肪。包含10%的活性咖啡因—有效的抗脂剂迅速吸收。Phytolastil除纹系列：90％的怀孕妇女会在怀孕第3～7个月时，产生像伤痕般的条纹─妊娠纹。妊娠纹一旦产生便不容易消失，所以怀孕时期的预防工作相当重要。法国黎瑞之除纹系列萃取天然植物如长春藤、木贼、斗蓬草内的有效成份，可促进新纤维产生，达到预防及澹化妊shen纹的效果。并可淡化已出现的妊娠纹。也可用于脖子除颈纹。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Clarins娇韵诗纤柔美体身体霜塑身霜200ml 提拉紧致</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/56.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              满满一瓶，倾注娇韵诗独家配方：高浓缩精华成分如Sveltonyl，植物精萃结合海藻精华，加速脂肪消耗并防止脂肪堆积；竹子精华帮助平滑紧致肌肤、玲珑身体线条；应对赘肉，精塑腰、腹、臀与手臂线条，改善脂肪堆积造成的不完美曲线，“脂肪粉碎机”不可或缺！ 特效润肤霜助您塑造体态，展现动人线条，改善腰部、腹部和臀部容易出现的“松垮海棉”质地。舒缓肌肤的竹子萃取带来温和的融肤触感，使肌肤更柔软光滑。曲线尽显！
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">法国 Rene Furterer莱法耶(馥绿德雅)防脱洗发水 </p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/57.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              因为不含化学成分“硅”，馥绿德雅洗发露属于纯植物提取产品，洗发后干涩是正常的（这是好洗发水的标准哟）。但是头发干后会比较蓬松，展现出健康发质的特性。
                                馥绿德雅防脱洗发露中含有精油的成分（大家看到的绿色颗粒就是精油），会加速头皮和头发的新陈代谢，首先会清理掉粘连在毛囊中不再生长的“假发”（健康的头发用手拽                               是拽不掉的），毛囊中才会长出来新的健康的头发！所以有些使用者初期用感觉脱发加重，其实就是将快掉的“假发”集中一段时间内清理掉。

                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Furterer馥绿德雅三相固发育发防脱精华液 油脂溢性脱发 8*5.5ml</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/58.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              【产品功效】 
                                三相精华液是唯一一款可以作用于渐进性脱发的产品（包括由血管因素、荷尔蒙因素和细胞组织因素所引起的脱发）。最新的医学研究已经验证：使用了3个月后，88%的使用                                者头发变得更佳坚韧，而85%的使用者则表示使用后感觉头发有明显的生长迹象。另外，该款产品的质地清爽，不油腻，使用后发型更易塑造，却丝毫不会增加秀发负担，防                               脱效果已经得到医学验证。建议使用次数:以三个月为一个疗程。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Klorane蔻萝兰 牡丹芍药舒敏洗发水 抗敏感止痒去屑 400ml</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/59.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              牡丹防敏感洗发水性质特别温和，不会刺激容易敏感的头部皮肤，减少因刺激和痕痒而引起的头皮屑，可以经常使用。
                                洗后头发光泽柔顺，头部皮肤无任何负担，法国皮肤科医生推荐！
                                 本产品采用低敏配方制成，针对头部皮肤特别敏感，容易因刺激产生痕痒而抓头，产生头皮屑的人士。
                                每周可以使用2到3次，一瓶香波即可，无需另外使用护发素。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Regenerate牙膏 修复牙釉质 促进牙釉质再生牙膏 75ml </p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/60.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              据药剂师解释说，这款牙膏的原理是填补牙釉质由于各种外因产生的微小洞洞，从而起到修复牙釉质的作用，正因为如此，也能起到使牙齿恢复到自然白度的功能。
                                全球实现牙釉质再生专业牙膏。独有NR-5专利成分，令医学史上曾认为无法再生的牙釉质，得以再生的革命性技术发明！牙釉质是牙齿外层保护牙本质的最珍贵保护膜，                            大部分的牙齿口腔疾病，如牙sui炎、牙zhou炎、牙龈萎缩、牙龈敏感、蛀牙及牙菌斑等均与牙釉质受损后细菌入侵有很大关系！regenerate真正实现牙釉质再生，使牙                            齿由于牙釉质受损引起的变黄变透明感减少，恢复牙齿自然亮白！刷越白，越刷越坚固！
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Marvis牙膏 牙膏中的爱马仕 75ML 7种味道可选</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/61.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              Marvis来自意大利，是具有近百年历史的著名牙膏品牌。更是英国航空头等舱特别指定的护理用品！被誉为牙膏中的'贵族'。作为牙膏中的'爱马仕'，Marvis牙膏一共7款，黑色，蓝色，紫色，红色，橙色，绿色，银色。 
                                海洋薄荷（蓝色）：清除舌苔，刷完牙之后非常清爽，有大海的味道。 
                                强力薄荷（绿色）：特别适合男士，强烈的薄荷感，有点小辣，祛茶渍、烟渍、咖啡渍效果极佳
                                肉桂薄荷（红色）：含有肉桂成分，适用于牙龈出血的朋友
                                美白薄荷（银色）：美白效果极佳，但是需要长期坚持 
                                生姜薄荷（橘色）：镇痛、消炎，有点生姜的小辣 
                                茉莉薄荷（紫色）：特别适合女性朋友，茉莉芬芳加清新薄荷
                                甘草薄荷（黑色）：适合上火、有口臭的朋友，同时甘草对喉咙、咽炎也有好处，建议刷牙后漱口一次即可

                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">法国ELGYDIUM 可吞咽儿童防蛀牙膏 护乳牙 50ml 2-6岁</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/62.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              草莓味/薄荷草莓味/香蕉味
                                这款牙膏是专在法国药店出售，是著名的皮耶法柏药厂(Pierre Fabre)出品，同门姐妹有雅漾，艾芙美等等。ELGYDIUM儿童果味牙膏，专为保护2－6岁儿童的乳牙而设计的可                                吞咽牙膏，为此阶段乳牙提供所需的氟离子（250ppm），为乳牙形成保护层，防止蛀牙。凝胶状牙膏，不含研磨粉。含独特成份帮助加强保护牙齿珐琅质，坚固牙齿，延缓细                               菌附着并延长氟离子保护作用。在这个年龄段的儿童乳牙，矿物质成份也较低，因此需要专用牙膏来保护牙齿。配方中Siliglycol会在牙齿上形成薄膜，同时氟化物会帮助修                               复牙齿，以加强珐琅质。香甜红色浆果口味，清新的让宝宝从小爱上刷牙。
                              </p>
                              </div>
                            </md-content>
                          </md-tab>
                          <md-tab label="其他">
                            <md-content class="md-padding">
                              <div class="col-md-12">
                                <p class="md-display-1">人鱼眼泪蓝眼水润滴眼液眼药水</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/63.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              产品功效：这款滴眼液不仅是一款滴眼液眼药水,可以对眼睛起保护修护舒缓滋润作用，还是一款是很多明星都会使用的眼珠保养品，俗话说女人的眼睛最能出卖她的年龄，只有黑白分明的清澈眼珠才是真正青春的见证，这款明星闪耀滴眼液可以使得你疲惫的眼球得到滋润放松，使得你的眼白部分保持鲜亮的略微呈现淡蓝色的眼白（真正年轻的眼球眼白部分就是轻微的淡蓝色的），适当减低眼压，缓解眼部疲劳，恢复年轻活力的光彩，让双眼绽放迷人魅力。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">法国para’kito帕洛驱蚊手环</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/64.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              宝宝  孕妇  放心使用
                              可以循环使用！里面的芯片可以更换。
                              不含驱蚊胺（DEET）或除虫菊。腕带为轻巧可调节的橡胶质地，适合佩戴在手腕、脚踝、背包及婴儿车等位置。长度25厘米，可随意调节。天然保护，有效驱蚊，效力持久，                             把植物精油配方利用微滴包覆和缓慢会发释放气味控制技术，只需要将带有驱蚊精油片的手环放置于贴近人体任何部位，即可形成直径1-2米防护范围，并可持续24小时防蚊                            保护层，且防蚊效应可持续15天不降低，15天后开始缓慢下降，直至30天左右消失。

                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Compeed磨脚膏护脚膏 高跟鞋磨脚防水泡护足霜 8ml</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/65.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              能够有效防止磨脚
                              第一次使用建议涂上3-5层哈
                              并且十分实用经济，随手放在包包里，携带方便，经常磨脚的，可以用半年，偶尔磨脚的，可以用一年。 
                              注意！膏体遇热容易融化
                              天热情况下建议先放冰箱里30分钟！
                              膏体比较润滑，天热时可能会随物流颠簸掉出底座粘在盖子上
                              只要在使用时顺手重压回底座就好了，不影响使用噢~

                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">MAVALA美华丽睫毛增长液 大s推荐可增长眉毛</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/66.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              建议用前姑凉们拍照留底，使用一段时间后拍对比照就能看出效果了哦~ 
                                美华丽研究所专为睫毛、眉毛研制出专用养分护理：睫毛增长精华，始于1967年面世，现以改良配方，全新上市！
                                此产品含丰富天然萃取物包括维他命及蛋白质，能刺激睫毛、眉毛再生，令毛发更浓密，更有效防止睫毛、眉毛脱落。
                                本品汲取天然植物精华，特有睫毛、眉毛生长配方，能迅速渗透表皮，深入毛囊组织，快速激活毛囊细胞，促进睫毛、眉毛生长。连续使用，你的睫毛、眉毛將变得更纤长、                                更浓密，並变得更强韧健康，还会长出越來越多的新睫毛、眉毛，让你的眼睛散发迷人魅力，让你的生活就此而改变。
                              </p>
                              </div>
                            </md-content>
                          </md-tab>
                        </md-tabs>
                      </md-content>
                    </div>
                </div>
                <!-- End Intro / Why Us? -->
                <hr class="margin-top-20 margin-bottom-30">
                <!-- Middle Text -->
                <div class="row">
                    <div class="col-md-12 text-center margin-top-10 animate fadeInUp">
                        <h2 class="text-center margin-top-10">您的鼓励是对我最大的支持</h2>
                        <p class="text-center margin-bottom-30">希望您能满意</p>
                    </div>
                </div>
                <!-- End Middle Text -->
                <hr>
            </div>
        </div>
    </div>
</div>