<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
            <nav class="breadcrumb">
              <a class="breadcrumb-item" ui-sref="app">主页</a>
              <a class="breadcrumb-item" ui-sref="app.daigou">/芋头熊的代购</a>
              <span class="breadcrumb-item active">/护肤品</span>
            </nav>
            <h2>护肤品</h2>
                <!-- Intro / Why Us? -->
                <div class="row">
                    <div ng-cloak>
                      <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                          <md-tab label="面霜|乳液|面膜">
                            <md-content class="md-padding">
                              <div class="col-md-12">
                                  <p class="md-display-1">理肤泉安心霜 特安舒护乳舒缓修复霜 清爽型/滋润型40ml</p>
                              </div> 
                              <div class="col-md-4">
                                  <img src="../../img/daigou/1.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                                <p>
                                1.极致舒缓 ：富含创新科技成分神经胜肽，即刻改善皮肤不适，长效舒缓。 
                                2.极高耐受性 ：耐受性经过敏肌肤及敏感肌肤测试。 
                                3.极纯净配方 ：极精简成分，避免所有刺激性过敏原。 
                                4.为肌肤打底 ：在使用各类精华或面霜前作打底使用，可显著减少皮肤过敏情况，避免外界刺激，肌肤耐受性变好。
                                对于敏感肌肤的护肤理念是抑制发yan、重建屏障、舒缓镇静三部曲，有效减缓47%发yan症状，镇静敏感肌肤末梢神经。
                                源自制药行业创新包装科技，泵式按压设计、独家专利科技100%密封包装，真正做到零残留、零污染、零氧化、零浪费、零接触五大安全保障。
                                </p>
                              </div>
                              <div class="col-md-12">
                                  <p class="md-display-1">Avene雅漾修护保湿霜50ml 清爽型/滋润型 补水防裂抗敏</p>
                              </div> 
                              <div class="col-md-4">
                                  <img src="../../img/daigou/2.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                                <p>
                                产品功效：
                                富含雅漾活泉水（67％），快速平缓刺激。修复表皮天然防御功能，保证长久有效的防护。细腻、轻盈，快速渗透使表皮回复舒适、平衡。季节转换、荷尔蒙失调适用于接触过敏原引起的过敏反应，日晒后的红肿，外出旅行、水土不适特别适用，可用在整容、手术后的伤口处理。
                                </p>
                              </div>
                              <div class="col-md-12">
                                  <p class="md-display-1">理肤泉立润密集保湿霜  清爽型/滋润型 </p>
                              </div> 
                              <div class="col-md-4">
                                  <img src="../../img/daigou/3.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                                <p>
                                （立润全系列含有水解透明质酸，也就是常说的纳米透明质酸，小分子可以更好的为肌肤保湿的透明质酸 ）
                                  含甘油与牛油果提取物，智慧补水，深度滋润皮肤，恢复皮肤水油平衡质地温和细腻滋润，蕴含理肤泉温泉水，抗自由基，舒缓皮肤， 缓解敏感问题，舒缓皮肤，满足日常保湿需求，内含聚合体持续释放保湿因子，使皮肤深层长久保湿，效果持久。特殊设计的气密性抗污染瓶可保持霜体的活性分子新鲜。
                                  理肤泉温泉水：舒缓、镇静、抗炎、止痒、抗自由基，促进疤痕愈合
                                </p>
                              </div>
                              <div class="col-md-12">
                                  <p class="md-display-1">Vichy薇姿温泉矿物保湿水活霜50ml 清爽型/滋润型 补水</p>
                              </div> 
                              <div class="col-md-4">
                                  <img src="../../img/daigou/4.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                                <p>
                                （2012年时尚COSMO美容大奖！vichy明星产品）
                                保湿同时，强化肌肤天然屏障功能，实现强韧保湿效果，帮助肌肤远离敏感，透显丰盈水润，健康强韧。独特微胶囊水分缓释技术：将“薇姿温泉水”和“活性透明质酸精华”包裹在微胶囊内部，持久释放。深层滋养肌肤，24小时滋润、强韧，保湿、舒缓、强化，适用于敏感期，使用4周后敏感度-42%，粗糙度-41%，皮肤干燥度-47%。

                                </p>
                              </div>
                              <div class="col-md-12">
                                  <p class="md-display-1">Avene雅漾舒缓特护面霜 50ml 清爽型／滋润型</p>
                              </div> 
                              <div class="col-md-4">
                                  <img src="../../img/daigou/5.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                                <p>
                                适用：过敏性、高度敏感性皮肤；眼睑湿疹，荨麻疹，由于光照引起的红斑性皮炎；由于化妆品引起的皮肤过敏反应；由刺激引起的红斑、发痒。功效：重建皮肤屏障，降低皮肤敏感性，柔滑独特的质地在使用后即刻产生舒适感。对过敏性和高度敏感性皮肤具有保护、保湿和滋养作用，不引起粉刺。1.雅漾舒缓系列是首个为过敏性和高度敏感性皮肤提供高效、舒适的护理并杜绝一切过敏和刺激可能性的护肤品。2.此系列产品已取得独家专利权。E.T.S保障体系*（*其耐受性经“法国国家高度耐受性体系”认证）。3.以生产注射药物的标准在无菌的环境下生产。4.经皮肤专家及过敏专家对敏感肌肤作多次耐受性临床测试。
                                </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">法国Embryolisse妆前保湿隔离乳 24小时保湿 75ml</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/6.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              这是一款奇迹面霜，它是保湿霜，是霜，能轻轻去除化妆品，剃须后的残留，带来露般的柔嫩。它是一种洁面霜和保湿霜的乳化结合的柔润霜，同时不破坏肌肤的自然平衡（如pH值，微生物）和保护皮肤的天然保护水脂层。上妆前，先使用保湿面膜将大量的水分快速地输送到肌肤内部，然后再涂上一层薄薄的保湿霜，将水分完全锁在肌肤里，就能让肌肤展现润泽感，男士刮胡刀后皮肤有不适的都可以涂用来舒缓。！1.《VIVI》推荐为 巴黎每个模特儿包包里必备的产品之一。2.牛尔老师曾于节目《女人我最大》中推荐产品。3.《ELLE》《VOGUE》《Cosmopolitan》《Marie Claire》推荐产品
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">CAUDALIE/欧缇丽 控油保湿乳 冰淇淋霜（16年新包装）</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/7.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              这款质地轻薄的，92% 天然配方成分的乳液。质地清爽不油腻，出色的油脂调节功效将令你的肌肤焕然一新。一经使用，将立即抑制过多皮脂分泌并可长效保持肌肤的水油平衡。是一款适用于混合性肌肤，防止油光满面的控油保湿的理想产品。主要成分：有机葡萄水立即降低肌肤敏感度，为肌肤注入水分直至细胞中心，长效保湿。红酒酵母，预防肌肤脱水，增强肌肤免疫系统。与此同时，橄榄角鲨烷抚平和软化表皮组织。亚麻粉以及非洲树木和爪哇岛茶树叶的萃取物立即吸收多余油脂，调节油脂分泌，同时改善肌肤质地。葡萄籽多酚具有双重功效，它的抗氧化特性能帮助肌肤抵御自由基的侵袭，同时，它的抗透明质酸酶特性保护肌肤中透明质酸的含量，让肌肤饱满有弹性。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">法国Dexeryl creme 特效润肤乳/湿疹辅助润肤霜 万能膏250ml／500ml</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/8.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              只在法国药房出售。一只婴儿成人全家可用的保湿面霜，身体乳。宝宝皮肤干燥，使用效果也很好，是法国医生推荐的宝宝湿疹用保湿产品之一。此产品也是经当地皮肤医生和儿科医生一致推荐的, 针对干性/ 缺水皮肤而研制,产品无色无味,纯天然配方研制，可作婴儿平日的润肤乳使用。敏感皮肤和过敏皮肤也可使用。辅助疗效：用于湿疹，皮炎，牛皮藓及浅表性烫伤。吸收迅速，使用起来不会感觉油腻，清爽柔和，改善皮肤干燥裂纹，保湿无负担。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Avene/雅漾活泉恒润保湿乳  清爽型/滋润型50ml</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/9.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              功效：富富含雅漾舒护活泉水（抗刺激、抗氧自由基、舒缓作用）。模仿眼睛泪液膜动态保湿系统：深层、持久保湿。粘蛋白：与雅漾活泉水结合。渗透性：具有良好的伸展性和渗透性。亲水性：由于有强大的负电荷，能获取并保留水份，增加细胞间含水量。类脂蛋白：双性共聚物分子，能将雅漾活泉水和三重脂质体连接，形成皮脂膜，阻止水份蒸发。控油效果。低过敏性香料（筛选过）。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">法国代购 Filorga菲洛嘉 玻尿酸高保湿面霜50ml 抗氧化保湿</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/10.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              此款面霜结合两个玻尿酸（大分子＋微片段）的作用来达到微填充和补水的显著效用。与此同时促进胶原蛋白的合成，减少周围和真皮折痕。NCTF®（菲洛嘉专利）和透明质酸与核层蛋白5的前体协同作用，可以重建“真皮-表皮联合”，从而令肌肤，从而令肌肤恢复紧致；它们与苹果籽提取物协同作用，可以增加表皮的韧性和弹性。涂抹完之后的肌肤是饱和且呈亚光的自然状态，这与很多其他面霜使用之后面部泛光有着明显区别。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">法国Nuxe 欧树植物鲜奶保湿霜</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/11.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              NUXE第一款革命性植物鲜奶产品，结合植物蛋白质与芳香疗法，是疲倦受损肌肤的效果。8种植物鲜奶能快速补充基础蛋白质，4款天然精油则能平衡肌肤抵抗压力。使用后肌肤立刻变得滑顺有弹性，白天可用以隔离彩妆，晚间则可尽情修护肌肤。完美保湿，恢复皮肤弹性，柔软性。无致痘性，所有肤质（含最敏感肌肤）均适用。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Kiehl's科颜氏/契尔氏高保湿面霜125ML 特效平衡补水</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/12.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              契家的明星面霜，保湿能力一级棒！口碑很不错的一款保湿霜，如果觉得最近皮肤紧绷绷的，可以试试哟！给你24小时全天候保湿!适用任何肤质。萃取自南极的冰河醣蛋白，具有防冻、抗干燥，强效的保湿功效。能锁住肌肤表面水分并吸收空气中的水气，达到全天候不间断的保湿效果，使用后肌肤感觉舒适和明显地水份均衡；在吸取和吸收空气中的水气时，帮助肌肤减少水份的流失。即使是在气候严峻的环境之中也可发挥防护伤害。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">FILORGA菲洛嘉sleep and peel极致焕肤晚霜   抗衰/焕肤/提亮/淡斑</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/13.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              FILOTRGA实验室的独一无二中胚层疗法护理，促进细胞更新的“助推器”，有效地防止肌肤过早老化。独家的NCTF抗衰老奈米微球配方与透明质算的鸡尾酒組合，外加六种AHA和BHA酸性成分，能循序渐进地去角質。微脂囊包裹的杜鵑花酸和丙酮酸，滋润、抑制粉刺並抗氧化。马曲金钛結合褐藻，达到纾缓以及抗老化的作用。不仅肌肤变得幼滑，色素也有效地淡化。若皮肤比较敏感，可两天一次，与抗皱面霜或者玻尿酸面霜交替使用都可以。Anaïs把它当晚霜用。是最近晚上最期待的一项保养。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">Filorga菲洛嘉Time filler逆龄时光面霜 50ml</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/14.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              TIME-FILLER面霜是一种抗衰老、适合所有皮肤类型的面霜。它能舒缓肌肤，减少和抚平皱纹，光滑脸部肌肤。 减少皱纹：肉毒杆菌般的三肽能使肌肉收缩和舒缓脸部皮肤，使脸部重新焕发活动。玻尿酸注射明星分子被封装到一个深扩散和填充效果可见。2014年研发，抗拉面霜，满足你对全面抗老的全部需求！使用3天后，川字纹将减少19%。使用28天后，所有类型的皱纹都将出现明显的减少：鱼尾纹减少37%，川字纹减少39%，抬头纹减少30%。
                              </p>
                              </div>
                              <div class="col-md-12">
                                <p class="md-display-1">FILORGA菲洛嘉MESO柔滑亮白面膜 十全大补</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/15.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              十全大补面膜使用后效果非常出色，保湿美白功效明显，而且使用频率也不需要很高，差不多每周一次即可，是人手一罐的好面膜！在使用这款十全大补面膜的同时，可以配合依泉水漾保湿面膜一起用的，FILORGA十全大补面膜每1-2周使用一次厚敷，之后连续3天使用依泉水漾保湿面膜面膜做加强，因为十全大补是一款种植面膜，将大量的小分子玻尿酸分子注入皮下，修复受损干瘪的细胞，刺激胶原蛋白再生，做完这个面膜皮下细胞合成速度加快，此时需要大量补水，3天内多敷补水面膜，这样皮肤通道打开，皮肤才会晶莹剔透哦！
                              </p>
                              </div>
                            </md-content>

                          </md-tab>
                          <md-tab label="精华|眼部精华">
                            <md-content class="md-padding">
                              
                            </md-content>
                          </md-tab>
                          <md-tab label="卸妆|去角质|洁面">
                            <md-content class="md-padding">
                              
                            </md-content>
                          </md-tab>
                          <md-tab label="喷雾|眼霜|唇部">
                            <md-content class="md-padding">
                              
                            </md-content>
                          </md-tab>
                          <md-tab label="防晒|隔离">
                            <md-content class="md-padding">
                              
                            </md-content>
                          </md-tab>
                          <md-tab label="身体护理">
                            <md-content class="md-padding">
                              
                            </md-content>
                          </md-tab>
                          <md-tab label="其他">
                            <md-content class="md-padding">
                              
                            </md-content>
                          </md-tab>
                        </md-tabs>
                      </md-content>
                    </div>
                </div>
                <!-- End Intro / Why Us? -->
                <hr class="margin-top-20 margin-bottom-30">
                <!-- Middle Text -->
                <div class="row">
                    <div class="col-md-12 text-center margin-top-10 animate fadeInUp">
                        <h2 class="text-center margin-top-10">您的鼓励是对我最大的支持</h2>
                        <p class="text-center margin-bottom-30">希望您能满意</p>
                    </div>
                </div>
                <!-- End Middle Text -->
                <hr>
            </div>
        </div>
    </div>
</div>