<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
            <nav class="breadcrumb">
              <a class="breadcrumb-item" ui-sref="app">主页</a>
              <a class="breadcrumb-item" ui-sref="app.daigou">/芋头熊的代购</a>
              <span class="breadcrumb-item active">/日常</span>
            </nav>
            <h2>日常用品</h2>
                <!-- Intro / Why Us? -->
                <div class="row">
                    <div ng-cloak>
                      <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                          <md-tab label="one">
                            <md-content class="md-padding">
                              <div class="col-md-12">
                                  <p class="md-display-1">Floradix铁元红铁500ml</p>
                                </div> 
                                <div class="col-md-4">
                                  <img src="../../img/daigou/74.jpg" class="daigouimg1">
                                </div>
                                <div class="col-md-8">
                                <p>
                                补铁补血！这个要推荐，喝了真的很有效！铁元就是西方的阿胶 ，不补铁老的快。女性每月流失铁元素很多，所以高效补充铁质有效缓解脸色苍白、易疲劳、手脚冰凉、头晕、头疼、情绪沮丧、脑力不足、免疫力下降等缺铁症状，从源头去除黑眼圈，令脸色红润光泽，精力旺盛。
                                </p>
                                </div>
                            </md-content>
                          </md-tab>
                          <md-tab label="two">
                            <md-content class="md-padding">
                              <h1 class="md-display-2">Tab Two</h1>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                              <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                              <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                            </md-content>
                          </md-tab>
                          <md-tab label="three">
                            <md-content class="md-padding">
                              <h1 class="md-display-2">Tab Three</h1>
                              <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                            </md-content>
                          </md-tab>
                        </md-tabs>
                      </md-content>
                    </div>
                </div>
                <!-- End Intro / Why Us? -->
                <hr class="margin-top-20 margin-bottom-30">
                <!-- Middle Text -->
                <div class="row">
                    <div class="col-md-12 text-center margin-top-10 animate fadeInUp">
                        <h2 class="text-center margin-top-10">您的鼓励是对我最大的支持</h2>
                        <p class="text-center margin-bottom-30">希望您能满意</p>
                    </div>
                </div>
                <!-- End Middle Text -->
                <hr>
            </div>
        </div>
    </div>
</div>