<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
            <nav class="breadcrumb">
              <a class="breadcrumb-item" ui-sref="app">主页</a>
              <a class="breadcrumb-item" ui-sref="app.daigou">/芋头熊的代购</a>
              <span class="breadcrumb-item active">/婴幼儿</span>
            </nav>
            <h2>婴幼儿</h2>
                <!-- Intro / Why Us? -->
                <div class="row">
                    <div ng-cloak>
                      <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                          <md-tab label="婴幼儿奶粉">
                            <md-content class="md-padding">
                              <div class="col-md-12">
                                <p class="md-display-1">佳丽雅奶粉</p>
                              </div> 
                              <div class="col-md-4">
                                <img src="../../img/daigou/67.jpg" class="daigouimg1">
                              </div>
                              <div class="col-md-8">
                              <p>
                              Gallia奶粉系列是法国一款高端奶粉产品，距今已有40多年历史，也是欧洲最畅销的一款奶粉，深受欧洲妈妈们的喜爱，同时也是唯一一款儿科医生进行推荐的奶粉。在欧洲的药房和大型超市销售。在欧洲婴幼儿奶粉市场占有率排名第一。Gallia奶粉根据不同体质的孩子提供不同配方的奶粉，解决了孩子吐奶，消化不良，体质虚弱等问题。原装欧洲进口，一流的欧洲品质，将帮助中国宝宝健康成才，使中国妈妈更加放心。 法国Gallia集团采用国际先进的设备与技术，生产车间按GMP标准设计，生产过程全自动化，以达到产品质量稳定、卫生、安全。佳丽雅（Gallia）获得婴幼儿配方奶粉工业产品生产许可证、QS质量安全准入证的企业，通过HACCP食品安全管理体系认证、ISO9001国际质量体系认证和ISO14001环境管理体系认证。

                              作为法国原装高端奶粉，佳丽雅（gallia)                              一直坚守为客户提供更优质产品的理念，凭借高素质的人才，依靠公司先进的研发中心和化验室，根据人体新陈代谢特点和营养需要，研制开发出“佳丽雅”配方牛奶粉。 佳丽                              雅奶粉融汇了诸多的国际顶尖营养专家，采用国际乳品科技生产而成。佳丽雅奶粉富含DHA、维生素、矿物质和人体易缺乏的钙、锌、铁、硒等微量元素，特别添加乳铁蛋白、                              DHA和ARA、双歧杆菌增殖因子、CPP，并调整了营养结构，令其更适合东方体质吸收。佳丽雅奶粉采用国际领先的澳洲乳品工艺，有效避免了奶粉上火等问题，为消费者提供优                             质均衡营养。

                              达能是目前全球最大的鲜乳制品和饼干生产商，同时也是法国最大的婴儿食品生产商，旗下的奶粉品牌非常多，知名度也比较高。达能所有奶粉产品分一般分为3阶段：1段(                             0-6个月)、2段(6-12个月)、3段(12个月以上)。包装规格分别有400g纸盒装，800g的，900g的，以及1200g环保纸罐包装。
                              </p>
                              </div>
                            </md-content>
                          </md-tab>
                          <md-tab label="婴幼儿用品">
                            <md-content class="md-padding">
                              <h1 class="md-display-2">婴幼儿用品</h1>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                              <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                              <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                            </md-content>
                          </md-tab>
                          <md-tab label="其他">
                            <md-content class="md-padding">
                              <h1 class="md-display-2">其他</h1>
                              <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                            </md-content>
                          </md-tab>
                        </md-tabs>
                      </md-content>
                    </div>
                </div>
                <!-- End Intro / Why Us? -->
                <hr class="margin-top-20 margin-bottom-30">
                <!-- Middle Text -->
                <div class="row">
                    <div class="col-md-12 text-center margin-top-10 animate fadeInUp">
                        <h2 class="text-center margin-top-10">您的鼓励是对我最大的支持</h2>
                        <p class="text-center margin-bottom-30">希望您能满意</p>
                    </div>
                </div>
                <!-- End Middle Text -->
                <hr>
            </div>
        </div>
    </div>
</div>